rules_version = '2';
service cloud.firestore {
  match /databases/{db}/documents {
    function isAdmin() {
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /rooms/{id}     { allow read: if true;  allow write: if true; }
    match /blogs/{id}     { allow read: if true;  allow write: if true; }
    match /categories/{id}{ allow read: if true;  allow write: if true; }
    match /locations/{id} { allow read: if true;  allow write: if true; }
    match /upgrades/{id}  { allow read: if true;  allow write: if true; }
    match /reviews/{id}   { 
      allow read: if true;  
      allow create: if request.auth != null; 
      allow update, delete: if true; 
    }

    match /users/{uid} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if true;
    }

    match /bookings/{id} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if true;
    }

    match /coupons/{id} {
      allow read: if true;
      allow write: if true;
    }

    match /subscribers/{id} {
      allow read: if true;
      allow write: if true;
    }

    match /newsletters/{id} {
      allow read: if true;
      allow write: if true;
    }
  }
}
